@charset "EUC-KR";



.footer {
	background-color: grey;
}



html, body {
	margin: 0;
	overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin: auto;
}

.col-md-offset-1, .col-md-offset-2 {
	margin-left: 16.66666667%;
}

.col-md-offset-10 {
	margin-left: 86.66666667%;
}

.col-md-offset-3 {
	margin-left: 25%;
}

.title {
	background-color: transparent;
	border: none;
	width: 150px;
	text-align: left;
	font-weight: bold;
}

.new_title{
background-color: transparent;
	border: none;
	width: 100px;
	text-align: left;
}
.img_button {
	padding-top: 50px;
	text-align: right;
}

.input-file-button {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

#image {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.subheading{
	opacity: 0.5;
	background-color: transparent;
	border: none;
	width: 100px;
}
.new_subheading{
	width: 150px;
}

.myButton {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: #f6f6f6;
}

.myButton:active {
	position: relative;
	top: 1px;
}
